@charset "utf-8";
/* tag reset */
button, .cs_cnt, .online_cnt, .recall_cnt, .fix_cnt, .FAQ_cnt{border: none;background: none;cursor: pointer;margin: 0;padding: 0;}

.blind{position: absolute;top: 0;left: -9999px;}
iframe{border: none;}
.intro_bg9{height: 550px; background: url(../images/models/title_img.jpg) no-repeat center top;}
.intro_bg8{height: 550px; background: url(../images/customer/cs2.jpg) no-repeat center top;}

/* Class */
.md_info{margin: 20px auto;background: #e9e9e9;font-size: 26px;}
.md_info .area{height: 130px;margin-bottom: 52px;color: #2b2b2b;font-weight: 400;}
.md_info .area .class, .md_info .area ul.info_btn{float: left;position: relative;}
.md_info .area .class{margin:  30px 80px 30px 0px;text-align: left;border-radius: 10px;border: 1px solid #5a90d6;background: #ffffff;padding: 20px 0;}
.md_info .area .class ul{width: 210px;height: 38px;line-height: 38px;overflow: hidden;}
.md_info .area .class .arrow{position: absolute;top: 26px;left: 145px;fill: #5a90d6;transition: all 0.5s;}
.md_info .area .class.active .arrow{transform: rotateX(180deg);}
.md_info > .area > ul.info_btn > li{position: relative;display: inline-block;line-height: 130px;}
.md_info > .area > ul.info_btn > li + li{margin-left: 80px;}
.md_info > .area > ul.info_btn > li a{position: relative;display: inline-block;}
.md_info > .area > ul.info_btn > li a:after{content: "";display: block;width: 0%;height: 5px;background: #5a90d6;margin: -5px auto 0;transition: width 0.5s;}
.md_info > .area > ul.info_btn > li a:hover:after, .md_info > .area > ul.info_btn > li a:focus:after{width: 100%;}
.md_info .area .info_btn li a:hover, .md_info .area .info_btn li a:focus, .md_info .area .class .arrow:hover, .md_info .area .class .arrow:focus{color: #5a90d6;}
.md_info > .area > .class > ul > li > a{display: block;padding-left: 25px;}

.info1{margin-top: 170px;height: 930px;background: #000;}

/* slider 공통 스타일 */
.slider{position: relative;height: 820px;margin-top: 100px;}
.slider h3{position: absolute;text-shadow: 2.6px 3.1px 8px rgba(1,1,15,0.3);font-family: GGBatangB;font-size: 70px;font-weight: 400;line-height: 0.54;letter-spacing: 0.17px;color: #fff;padding-top: 65px;z-index: 100;}
.slider .bx-viewport ul li{position: relative;height: 820px;display: block;height: 820px;background: no-repeat center top;}
.slider .bx-viewport .txt{position: absolute;top: 270px;left: 50%;vertical-align: middle;width: 530px;margin-left: 220px;}
.slider .bx-viewport .txt{vertical-align: left;}
.info2 h3, .info4 h3{padding-left: 73px;}
.slider .bx-viewport strong{font-size: 32px;font-weight: 500;line-height: 1.19;letter-spacing: 0.32px;color: #ffffff;}
.slider .bx-viewport p{font-weight: 400;font-size: 26px;line-height: 1.36;letter-spacing: 0.28px;color: #e9e9e9;margin-top: 48px;}
.slider .bx-viewport a{position: absolute;top: 610px;left: 50%;width: 100px;height: 40px;line-height: 36px;font-weight: 400;color: #5a90d6;text-align: center;border: 2px solid transparent;border-bottom-color: #5a90d6;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;-webkit-transition: all 0.5s;-moz-transition: all 0.5s;-o-transition: all 0.5s;transition: all 0.5s;}
.slider .bx-viewport a{margin-left: 422px;}
.slider.flip_slider .bx-viewport a{margin-left: -710px;}
.slider .bx-viewport a:hover, .slider .bx-viewport a:focus{border-color:  #5a90d6;border-radius: 5px;}
.slider .bx-pager{position: absolute;bottom: 55px;left: 50%;margin-left: 378px;z-index: 100;width: 183px;}
.slider.flip_slider .bx-pager{margin-left: -750px;}
.slider .bx-pager a{float: left;width: 21px;height: 21px;border-radius: 50%;background: #fff;margin: 0 20px;text-indent: -9999px;}
.slider .bx-pager a.active{background: #5a90d6;}

/* info2 */
.info2 #insideSlider ul.visual .list1{background-image: url(../images/models/Inside_1.jpg);}
.info2 #insideSlider ul.visual .list2{background-image: url(../images/models/Inside2.jpg);}
.info2 #insideSlider ul.visual .list3{background-image: url(../images/models/Inside3.jpeg);}

/* info3 */
.info3 h3{width: 700px;float: right;left: 50%;margin-left: 130px;}
.flip_slider .bx-viewport .txt{position: absolute;top: 270px;text-align: right;vertical-align: middle;left: 50%;margin-left: -950px;}
.info3 #OutSlider ul.exterior .list4{background-image: url(../images/models/Outside1.jpg);}
.info3 #OutSlider ul.exterior .list5{background-image: url(../images/models/Outside2.jpg);}
.info3 #OutSlider ul.exterior .list6{background-image: url(../images/models/Outside3.jpg);}

/* info4 */
.info4{position: relative;height: 820px;background: #2b2b2b;margin-top: 100px;}
.info4 #bodysideSlider ul.tech li{display: block;height: 820px;background: no-repeat center top;}
.info4 #bodysideSlider ul.tech .list7{background-image: url(../images/models/tech1.jpg);}
.info4 #bodysideSlider ul.tech .list8{background-image: url(../images/models/tech2.jpg);}
.info4 #bodysideSlider ul.tech .list9{background-image: url(../images/models/tech3.jpg);}

.info4 #bodysideSlider ul li .txt h3{width: 637px;padding-left: 74px;}
.info4 #bodysideSlider ul li .txt h3.tech2{width: 560px;}

.info4 #bodysideSlider .bx-pager {position: relative;bottom: 55px;left: 43%;margin-left: 500px;z-index: 100;width: 183px;}
.info4 #bodysideSlider .bx-pager a{float: left; width: 21px;height: 21px;border-radius: 50%; background: #fff;margin: 0 20px;text-indent: -9999px;}
.info4 #bodysideSlider .bx-pager a.active{background: #5a90d6;}

/* color */
.color{position: relative;width: 1220px;margin: 0 auto;}
.color #colorGallery{position: relative;height: 553px;padding-top: 567px;}
.color #colorGallery h3{padding: 38px 0;font-size: 62px;font-family: GGBatangB;font-weight: 400;letter-spacing: 0.83px;text-align: center;color: #1e1e1e;}
.btn{height: 500px;margin-bottom: 44px;}
.btn li{float: left;width: 160px;height: 175px;margin-left: 100px;margin-bottom: 40px;}
.btn li.first{margin-left: 0;}
.btn li button img{vertical-align: middle;}
.btn li button span{line-height: 35px;height: 70px;display: block;font-size: 19px;letter-spacing: -1px;}
.color #colorGallery .big{position: absolute;top: 0;left: 0;padding-top: 110px;text-align: center;width: 100%;}

.link{margin: 100px;width: 100%;height: 100px;text-align: center;right: 50%;}
.link a{display: inline-block;top: 100;left: 0;width: 200px;height: 50px;background: #e9e9e9;font-size: 25px;font-weight: 400;border: yellow;margin-right: 220px;padding: 10px 20px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;-webkit-transition: all 0.5s;-moz-transition: all 0.5s;-o-transition: all 0.5s;transition: all 0.5s;}
.link a:hover, .link a:focus{background: #5a90d6;color: #fff;}

/* Customer */
.cs{width: 1500px;height: 1500px;margin: 100px auto;width: 320px;height: 89px;box-sizing: border-box;padding: 28px 96px;}
.cs > div{float: left;height: 500px;}
.cs .overeffect{position: relative;}
.cs .overeffect a{display: block;height: 500px;background: #000;}
.cs .overeffect a:after{content: "";position: absolute;top: 87px;left: 120px;width: 260px;height: 260px;}
.cs .cs_cnt a:after{background: url(../images/customer/cs_icon_1.png);}
.cs .online_cnt a:after{background: url(../images/customer/cs_icon_2.png);}
.cs .recall_cnt a:after{background: url(../images/customer/cs_icon_3.png);}
.cs .fix_cnt a:after{background: url(../images/customer/cs_icon_4.png);}
.cs .FAQ_cnt a:after{background: url(../images/customer/cs_icon_5.png);}
.cs .overeffect a img{transition: opacity 0.5s;}
.cs .overeffect a:hover img, .cs .overeffect a:focus img{opacity: 0.4;}
.cs .overeffect a span{position: absolute;width: 276px;height: 78px;line-height: 78px;bottom: 40px;left: 112px;background: rgba(0,0,0,0.6);text-align: center;color: #ffffff;font-size: 32px;}
.cs .overeffect a:after{opacity: 0;transition: opacity 0.5s;}
.cs .overeffect a:hover:after,.cs .overeffect a:focus:after{opacity: 1;}


/* models modal */
.slider ul li .md_models + div{display: none;}
.featherlight .featherlight-content{padding: 0;margin: 0;width: 1250px;background: #fff;text-align: center;border:none;}
.featherlight .featherlight-content .md_11{height: 897px;}
.featherlight .featherlight-content .md_cnt.md_cnt2{height: 650px;}
.featherlight .featherlight-close-icon {font-size: 30px;color:#fff;margin-top: 15px;margin-right: 15px;background:none;}
