@charset "utf-8";

/* tag reset */
body ,img, h1, h2, h3, h4, h5, p {margin: 0; padding: 0;}
ul{list-style: none;}
a:link, a:visited, a:hover, a:active{color: inherit; text-decoration: none;}

button{border: none; background: none; cursor: pointer; font-family: inherit; color: inherit; font-size: inherit;}
header, nav, section, article, footer{display: block;}
body{overflow-x: hidden;}

/* 배경 */
/* #intro {position: relative ; padding-top: 50px;height: 100px;background: black;} */

/* 이미지 alt 대신 블라인드 */
.blind{font-size: 0;line-height: 0;width: 1px;height: 1px;overflow: hidden;position: absolute;top: 0;left: -9999px;}

/* 최상단 글자 이미지 편집 */

/* #intro .maintxt img {opacity: 0; } 이미지 투명처리 */
#intro .maintxt img {opacity: 0; }
#intro img{position: absolute; z-index: 1000; } 

.amg_headline{position: fixed; top: 0; left: 0; width: 100%; height: 80px; background: rgba(0,0,0,.8); z-index: 500;}
.amg_headline .benz_logo{float: left; margin-top: 17.5px; margin-left: 160px;}

#intro .maintxt .T, #intro .maintxt .H {top: 300px; left: 500px;}
#intro .maintxt .P, #intro .maintxt .E {top: 410px; left: 700px;}
#intro .maintxt .benzName {top: 500px; left:820px;}

#intro .maintxt .redUnderline{width: 198px; position: absolute; top: 558px; left:853px;}
#intro .maintxt .redUnderline p{width: 0px;height: 1.5px; position: absolute;background: rgb(214, 52, 52); z-index: 2200;
    animation: redUnderline forwards 1s cubic-bezier(0.22, 0.61, 0.36, 1) 5.0s;
    /* transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1); */
}
#intro .maintxt .redUnderline .left{right:99px;}
#intro .maintxt .redUnderline .right{left:99px;}
@keyframes redUnderline{
    0%{width: 0;}
    100%{width: 99px;}
}
/* #intro .maintxt .benzName:after{width: 100%} */
#intro .maintxt .OA{top: 590px; left: 760px;}
#intro .maintxt .YC{top: 587px; left: 954px;}

/* 동영상 크기조절 */
.video{width: 100%; height: auto; margin-top: -55px}
/* content - amg 글씨 동작 없음 */
#wrap .amgName{top: 1300px;}

/* content -the past */
#wrap .amgPic1{top:1500px;}
#wrap .amgPic1_2{top:2255px;}

/* content - the future */
#wrap .amgPic2{top:2700px;}
#wrap .amgPic2_2{top:3500px;}

/* amg 글자 애니메이션 편집 */
#wrap .Title_P {position: absolute; opacity: 1; letter-spacing: 4px; top: 885px; padding-left: 1330px; font-family: AudreyR; font-weight: 100; font-size: 40px; height: 60px; z-index: 2000; margin: 0;}
#wrap .P_c{position: relative; opacity: 1; padding-top:40px ; padding-left: 980px; font-family: SCDream; font-weight: 300; font-size: 24px; height: 60px; z-index: 2001; margin: 0;}

 
#wrap .Title_P {
  position: absolute;
  width: calc(100% - 200px);
  color: #FFF;
  text-align: center;
  letter-spacing: 4px; padding-left: 330px; font-family: AudreyR; font-weight: 100; font-size: 40px; height: 60px; z-index: 3000; margin: 0;
  /* letter-spacing: 4px; padding-top: 2240px; padding-left: 1330px; font-family: AudreyR; font-weight: 100; font-size: 40px; height: 60px; z-index: 2000; margin: 0; */
}

#wrap .Title_P span{
  opacity: 1;
  display:inline-block;
  /* letter-spacing: 4px; padding-top: 940px; padding-left: 130px; font-family: AudreyR; font-weight: 100; font-size: 40px; height: 60px; z-index: 2000; margin: 0; */
  /* letter-spacing: 4px; padding-top: 2240px; padding-left: 1330px; font-family: AudreyR; font-weight: 100; font-size: 40px; height: 60px; z-index: 2000; margin: 0; */
}
  @keyframes anim {
    0% {
      opacity: 0;
      transform: translateX(-300px);
    }
    100% {
      opacity: 1;
      transform: translateX(0px);
    }
  }


/* 헤더 네비게이션 */
#wrap{overflow: hidden;}
.amg_headline{position: fixed; top: 0; left: 0; width: 100%; height: 80px; background: rgba(0,0,0,.8); z-index: 500;}
.amg_headline .benz_logo{float: left; margin-top: 17.5px; margin-left: 160px;}
.amg_headline .amg_logo{display: block;}
.amg_headline .amg_skiplist{padding-top: 17.5px; padding-right: 160px; width: 700px; height: 45px; text-align: right; font-family: AudreyR; color: #fff; letter-spacing: 5px;}
.amg_headline .amg_skiplist li a{display: block; padding-right: 10px; line-height: 50px; font-size: 22px;}
.amg_headline .amg_skiplist li a:hover, .amg_headline .amg_skiplist ul li a:focus{font-weight: 600; color: #5a90d6;}
.amg_headline .amg_skiplist li a img, .amg_headline .amg_skiplist ul li a img{position: relative;}
.amg_headline .amg_skiplist li:hover a img, .amg_headline .amg_skiplist li a:focus img{transform: translateX(-30px);}
.amg_headline .amg_skiplist li a:after{content: ""; position: absolute; width: 12px; height: 12px; top: 30px; right: 120px; background: url(../images/future/eq_nav.png) no-repeat center; z-index: 300; -ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)'; opacity: 0;}
.amg_headline .amg_skiplist:hover li a:after, .amg_headline .amg_skiplist li a:focus:after{-ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)'; opacity: 1; right: 145px;}
.amg_headline .amg_skiplist, .amg_headline .amg_skiplist li a, .amg_headline .amg_skiplist li a img, .amg_headline .amg_skiplist li a:after{overflow: hidden; -webkit-transition: all 0.5s; -moz-transition: all 0.5s; -o-transition: all 0.5s; transition: all 0.5s;}

#intro .video{width: 100%; height: auto;}
#content .bg_box{width: 100%; height: 450px; overflow: hidden;}
#content .amg_bglogo{top: 120px; right: -50px;}

#content .amg_article{width: 100%; height: 1600px;}
#content article:nth-child(5){height: 1800px !important;}
#content .amg_article .amg_pic1, #content .amg_article .amg_pic2, #content .amg_article .amg_pic3, #content .amg_article .amg_pic4{width: 100%; height: 900px; background: no-repeat fixed center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;}
#content .amg_article .amg_pic1{background-image: url(../images/amg/amg_1.png);}
#content .amg_article .amg_pic2{background-image: url(../images/amg/amg_2.png);}

#content .amg_article .amg_pic_bg_odd, #content .amg_article .amg_pic_bg_even{width: 100%; height: 360px;}
#content .amg_article .amg_pic_bg_odd{background: url(../images/amg/amg_1_bt.png);}
#content .amg_article .amg_pic_bg_even{background: url(../images/amg/amg_2_bt.png);}

#content .amg_article .amg_tit_odd, #content .amg_article .amg_tit_even{font-family: AudreyR; font-weight: 500; font-size: 40px; height: 60px; z-index: 100; letter-spacing: 15px; color: #fff; top: 880px; text-shadow: 3px 3px 7px #000;}
#content .amg_article .amg_tit_odd{right: 220px;}
#content .amg_article .amg_tit_even{left: 220px;}
#content .amg_article .amg_link_odd, #content .amg_article .amg_link_even{font-weight: 300; font-size: 30px; z-index: 100; color: #fff; top: 990px; letter-spacing: 5px;}
#content .amg_article .amg_link_odd{right: 240px; width: 270px;}
#content .amg_article .amg_link_even{left: 230px; width: 350px;}

#content .amg_article .amg_txt_odd_wrap, #content .amg_article .amg_txt_even_wrap{line-height: 2; font-size: 24px; left: 200px; top: 1150px;}
#content .amg_article .amg_txt_odd_wrap{left: 200px;}
#content .amg_article .amg_txt_even_wrap{color:white; right: 200px; margin-top: -120px;}
#content .amg_article .amg_txt_odd_wrap p, #content .amg_article .amg_txt_even_wrap p{margin-bottom: 30px;}
#content .amg_article .amg_txt_odd_wrap span, #content .amg_article .amg_txt_even_wrap span{font-size: 15px;}
/* 이미지 애니메이션 편집 */
내가 한 것
/* #wrap .slide{
  -webkit-animation:slide 3s;
  -moz-animation:slide 3s;
  animation:slide 3s;
}
@keyframes slide{
  0%{
    margin-left:100%;
  }
  100%{
    margin-left: 0%;
  }
} */
선생님께서 하신 것 /* 
.slide img{margin-left: 100%; transition: margin-left 2s;}
.slide.on img{margin-left: 0%; }
*/

/* welcom to amg */
#content .text-container, #content .welcome{
  opacity: 0;
  position: relative;
  left: 700px;
}
#content .text-container{
  text-align: center;
  margin-top: 300px;
  padding-left: 1300px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-font-smoothing: antialiased;
}
#content .text-container span {
  display: inline-block;
}
#content .reg-text {
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
  opacity: 0;
  transition: opacity 5s ease, -webkit-transform 3.3333333333s ease-out;
  transition: transform 3.3333333333s ease-out, opacity 5s ease;
  transition: transform 3.3333333333s ease-out, opacity 5s ease, -webkit-transform 3.3333333333s ease-out;
}
#content .reg-text.on {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

#content .letter {
  transition: opacity 5s ease, -webkit-transform 5s cubic-bezier(0.43, 0.1, 0.57, 0.9), -webkit-filter 5s ease;
  transition: transform 5s cubic-bezier(0.43, 0.1, 0.57, 0.9), filter 5s ease, opacity 5s ease;
  transition: transform 5s cubic-bezier(0.43, 0.1, 0.57, 0.9), filter 5s ease, opacity 5s ease, -webkit-transform 5s cubic-bezier(0.43, 0.1, 0.57, 0.9), -webkit-filter 5s ease;
  opacity: 0;
  -webkit-filter: blur(5px);
          filter: blur(5px);
}
#content .letter:nth-of-type(2) {
  -webkit-transform: translateY(-160px);
          transform: translateY(-160px);
  transition-duration: 2.5s;
}
.letter:nth-of-type(3) {
  -webkit-filter: blur(0);
          filter: blur(0);
  -webkit-transform: translateY(-170px);
          transform: translateY(-170px);
  transition-duration: 3.8461538462s;
}
.letter.loaded {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-filter: blur(0);
          filter: blur(0);
}

#content .text-container .redUnderline2{width: 198px; position: absolute; top: 558px; left:853px;}
#content .text-container .redUnderline2.on p{width: 0px;height: 1.5px; position: absolute;background: rgb(214, 52, 52); z-index: 2200;
    animation: redUnderline2 forwards 1s cubic-bezier(0.22, 0.61, 0.36, 1) 5.0s;
    /* transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1); */
}
#content .text-container .redUnderline2 .left{right:99px;}
#content .text-container .redUnderline2 .right{left:99px;}
@keyframes redUnderline2{
    0%{width: 0;}
    100%{width: 99px;}
}

/* One-man One-engin */
#content .engin{
  position: absolute;
  left: 400px
}

#content .enginSub{
  width: 1400px;
  height: 1200px;
  background: #424242;
  color: white;
}


/* Map */
/* 버튼 */
/* #map{b;} */
button{border: none;background: none;cursor: pointer;font-family: SCDream; font-weight: 300; color: inherit;font-size: 16px; outline: 0;}   /*outline: 0; => 버튼 테두리 효과 제거*/
/* 상단 배경 */
#map .intro_bg1{height: 550px; background: url(../images/map/top_pic.jpg) no-repeat center top;}


#map .title{text-align: center; margin-top: 70px;}
#map .title .font_G{font-family: GGBatangB; font-weight: 300; font-size: 40px;}
#map .title .subTitle{margin-top: 40px; font-size: 20px;}
#map .title .blueUnderline{width: 500px; position: relative; z-index: 100; left: 825px; top: 15px;}
#map .title .blueUnderline p{width: 0px; height: 1.5px; position: absolute; background: #5a90d6;     
  animation: blueUnderline forwards 1s cubic-bezier(0.22, 0.61, 0.36, 1) 2.0s;}

#map .title .blueUnderline .left{right:250px;}
#header .maintxt .blueUnderline .right{left:250px;}
@keyframes blueUnderline{
    0%{width: 0;}
    100%{width: 250px;}
} 

#map .mapBtn1{text-align: center;}/* 가운데정렬 */
#map .mapBtn1 li {display: inline-block;margin-top: 200px;}/* 가운데정렬 */
#map .mapBtn1 li {border: 1px solid #2A2A2A;background: #2A2A2A; width:535px;height:50px;line-height: 50px; color: white; margin-bottom: 5px; font-style: initial;font-weight:500;}
#map .mapBtn1 li a:hover{color: #5a90d6;}
#map .mapBtn1 > li:nth-child(1){color: #5a90d6;}

#map .mapBtn2{text-align: center;}/* 가운데정렬 */
#map .mapBtn2 li {display: inline-block;}/* 가운데정렬 */
#map .mapBtn2 li button{border: 1px solid #575353;background: #575353; width:78.5px;height:50px; color: white; margin-bottom: 5px;}
#map .mapBtn2 li.on button{color: #5a90d6;}
#map .mapBtn2 li button:hover{color: #5a90d6;}

#map .result{text-align: center;}/* 가운데정렬 */
#map .result .address{display: inline-block; position:relative; width:267px;height:560px; border: 1px solid #424242; margin-bottom: 50px; background: #424242;}
#map .result .mapImg{display: inline-block; position:relative; width:800px;height:560px; border: 1px solid #424242; margin-bottom: 50px;background:#424242;}
#map .result .mapImg img{position: absolute;top:10%;left:50%; transform:translateX(-50%);}
/* 선택한 주소만 보이기 */
#map .result .address .addList li .txt{display: none;}
#map .result .address .addList li.on .txt{display: inline-block;position:absolute; left:50%; transform:translateX(-50%); color: #424242;width:267px;}/* 가운데정렬 */

#map .result .address .addList li .txt li button{color: white;margin-top: 10px;}
#map .result .address .addList li .txt li.on button{color: #5a90d6;}
#map .result .address .addList li .txt li button:hover{color: #5a90d6;}


#map .result .add_detail{display: inline-block; position:relative; width:1920px;height:360px; border: 1px solid #424242; background-image: url(../images/map/bottom.png); margin-top: 100px; vertical-align: center;}
#map .result .add_detail li {display: none;  text-align: center; margin-top: 100px;}
#map .result .add_detail li.on {display: inline-block;position: relative;color: white; }
