@charset "utf-8";

/* index header & footer */
#header{position: fixed; width: 100%;}
#footer{height: 250px;}
#footer .logo{top: 80px;}
#footer .idx_foot_link{width: 100%; height: 50px; background: #e9e9e9; color: #1e1e1e; line-height: 50px; text-align: center; font-size: 20px; font-weight: 500;}
#footer .idx_foot_link ul{width: 100%; height: 40px;}
#footer .idx_foot_link ul li{display: inline-block; width: 33%;}
#footer .idx_foot_link ul li + li{border-left: 1px solid #fff;}

/* intro */
#idx_intro_vid{position: fixed; top: 0; left: 0; z-index: 3000; width: 100%; height: auto; -webkit-animation: introv 1.5s ease 3.5s forwards; -moz-animation: introv 1.5s ease 3.5s forwards; -o-animation: introv 1.5s ease 3.5s forwards; animation: introv 1.5s ease 3.5s forwards;}

@-webkit-keyframes introv{
    0%{top: 0;}
    50%{top: 100px;}
    60%{top: 100px; -ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)'; opacity: 1;}
    99%{top: 100px; height: auto; left: 0; -ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)'; opacity: 0;}
    100%{height: 0; left: -9999px;}
}
@-moz-keyframes introv{
    0%{top: 0;}
    50%{top: 100px;}
    60%{top: 100px; -ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)'; opacity: 1;}
    99%{top: 100px; height: auto; left: 0; -ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)'; opacity: 0;}
    100%{height: 0; left: -9999px;}
}
@-o-keyframes introv{
    0%{top: 0;}
    50%{top: 100px;}
    60%{top: 100px; -ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)'; opacity: 1;}
    99%{top: 100px; height: auto; left: 0; -ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)'; opacity: 0;}
    100%{height: 0; left: -9999px;}
}
@keyframes introv{
    0%{top: 0;}
    50%{top: 100px;}
    60%{top: 100px; -ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)'; opacity: 1;}
    99%{top: 100px; height: auto; left: 0; -ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)'; opacity: 0;}
    100%{height: 0; left: -9999px;}
}

/* top button */
#circle{position: fixed; width: 100px; height: 100px; margin: 100px auto; bottom: 5vh; right: 2vw; z-index: 500; color: #fff; line-height: 62px; font-weight: 700; font-size: 16px; text-align: center;}
#circle div{position: absolute; border-radius: 50%; background: #1e1e1e; left: 0; right: 0; margin: 0 auto; -webkit-transform: scale(1); -moz-transform: scale(1); -o-transform: scale(1); -ms-transform: scale(1); transform: scale(1);}
#circle .c1{top: 0; left: 0; background: #5a90d6;}
#circle:hover .c1, #circle:focus .c1{ width: 100%; height: 100%; -webkit-animation: pulse1 2s linear infinite; -moz-animation: pulse1 2s linear infinite; -o-animation: pulse1 2s linear infinite; animation: pulse1 2s linear infinite;}
#circle .c2{top: 10%; width: 0; height: 0;}
#circle:hover .c2, #circle:focus .c2{width: 80%; height: 80%; -webkit-animation: pulse2 2s linear infinite; -moz-animation: pulse2 2s linear infinite; -o-animation: pulse2 2s linear infinite; animation: pulse2 2s linear infinite;}
#circle .c3{top: 20%; width: 60%; height: 60%;}

@-webkit-keyframes pulse1{
    0%{transform: scale(0); opacity: 1;}
    50%{transform: scale(1.3); opacity: 0;}
    100%{transform: scale(1.3); opacity: 0;}
}
@-moz-keyframes pulse1{
    0%{transform: scale(0); opacity: 1;}
    50%{transform: scale(1.3); opacity: 0;}
    100%{transform: scale(1.3); opacity: 0;}
}
@-o-keyframes pulse1{
    0%{transform: scale(0); opacity: 1;}
    50%{transform: scale(1.3); opacity: 0;}
    100%{transform: scale(1.3); opacity: 0;}
}
@keyframes pulse1{
    0%{transform: scale(0); opacity: 1;}
    50%{transform: scale(1.3); opacity: 0;}
    100%{transform: scale(1.3); opacity: 0;}
}
@-webkit-keyframes pulse2{
    0%{transform: scale(0); opacity: 1;}
    100%{transform: scale(1.4); opacity: 0;}
}
@-moz-keyframes pulse2{
    0%{transform: scale(0); opacity: 1;}
    100%{transform: scale(1.4); opacity: 0;}
}
@-o-keyframes pulse2{
    0%{transform: scale(0); opacity: 1;}
    100%{transform: scale(1.4); opacity: 0;}
}
@keyframes pulse2{
    0%{transform: scale(0); opacity: 1;}
    100%{transform: scale(1.4); opacity: 0;}
}

/* Slider */
#idxSlider, #idxSlider .idx_visual li{width: 100%; height: 100vh; color: #fff; text-shadow: 3px 3px 12px #000; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;}
#idxSlider .idx_visual li:nth-child(1){background-image: url(../images/index/idx_slider_class.jpg);}
#idxSlider .idx_visual li:nth-child(2){background-image: url(../images/index/idx_slider_eq.jpg);}
#idxSlider .idx_visual li:nth-child(3){background-image: url(../images/index/idx_slider_amg.jpg);}

#idxSlider .idx_visual li strong{display: block; font-size: 75px; padding-top: 250px; padding-left: 250px; font-family: GGBatangB;}
#idxSlider .idx_visual li p{font-size: 20px; font-weight: 300; padding-top: 30px; padding-left: 250px;}
#idxSlider .idx_visual li a{display: block; width: 200px; height: 40px; line-height: 40px; font-size: 20px; font-weight: 600; margin-top: 30px; margin-left: 250px; color: #1e1e1e; background: #fff; text-align: center; text-shadow: none; -webkit-transition: all 0.5s; -moz-transition: all 0.5s; -o-transition: all 0.5s; transition: all 0.5s;}
#idxSlider .idx_visual li a:hover, #idxSlider .idx_visual li a:focus{background: #1e1e1e; color: #fff;}

#idxSlider .bx-controls .bx-controls-direction a, #idxSlider .bx-controls .bx-controls-auto, #idxSlider .bx-controls .bx-pager{position: absolute; z-index: 100;}
#idxSlider .bx-controls .bx-controls-direction a, #idxSlider .bx-controls .bx-pager a, #idxSlider .bx-controls .bx-controls-auto a{text-indent: -9999px;}

#idxSlider .bx-controls .bx-controls-direction a{top: 470px; width: 23px; height: 26px;}
#idxSlider .bx-controls .bx-controls-direction .bx-prev{left: 250px; background: url(../images/index/prev_btn.png);}
#idxSlider .bx-controls .bx-controls-direction .bx-next{left: 427px; background: url(../images/index/next_btn.png);}

#idxSlider .bx-controls .bx-controls-auto{top: 470px; left: 390px;}
#idxSlider .bx-controls .bx-controls-auto a{display: block; width: 22.5px; height: 25px; background: url(../images/index/play_stop.png) no-repeat;}
#idxSlider .bx-controls .bx-controls-auto a.active{display: none;}
#idxSlider .bx-controls .bx-controls-auto a.bx-start{background-position: -22.5px 0;}

#idxSlider .bx-controls .bx-pager{width: 100px; left: 295px; top: 475px;}
#idxSlider .bx-controls .bx-pager a{float: left; width: 11px; height: 11px; -webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%; background: #fff; margin-right: 20px; -webkit-box-shadow: 3px 3px 10px #424242; -moz-box-shadow: 3px 3px 10px #424242; box-shadow: 3px 3px 10px #424242;}
#idxSlider .bx-controls .bx-pager a.active{background: #5a90d6;}

/* fade */
.section .idx_pic1, .section .idx_pic2, .section .idx_pic3{top: 100px; left: 0; width: 50vw; height: 50vh; background: no-repeat;}
.section .idx_pic1{background-image: url(../images/index/s_class_1.jpg);}
.section .idx_pic2{background-image: url(../images/index/e_class_1.jpg);}
.section .idx_pic3{background-image: url(../images/index/c_class_1.jpg);}

.section h2{top: 65vh; left: 38vw; font-family: GGBatangB; font-size: 55px;}
.section .idx_txt_wrap{top: 160px; left: 55vw; line-height: 2;}
.section .idx_txt_wrap strong{display: block; margin-bottom: 40px; font-size: 20px;}
.section .idx_txt_wrap p{margin-bottom: 10px;}
.section .idx_txt_wrap a{display: block; margin-top: 20px; width: 85px; height: 30px; line-height: 28px; text-align: center; border-bottom: 1px solid #424242;}
.section .idx_txt_wrap a:hover, .section .idx_txt_wrap a:focus{border-bottom-color: #5a90d6; color: #5a90d6;}

.section .idx_pic_sub1, .section .idx_pic_sub2, .section .idx_pic_sub3{bottom: 0; right: 0; width: 35vw; height: 35vh; background: no-repeat top right;}
.section .idx_pic_sub1{background-image: url(../images/index/s_class_2.jpg);}
.section .idx_pic_sub2{background-image: url(../images/index/e_class_2.jpg);}
.section .idx_pic_sub3{background-image: url(../images/index/c_class_2.jpg);}

.fade{-ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)'; opacity: 0; -webkit-transition: opacity 1s; -moz-transition: opacity 1s; -o-transition: opacity 1s; transition: opacity 1s;}
.fade.on{-ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)'; opacity: 1;}

/* indicator */
#fp-nav.fp-right{right: 20px;}
#fp-nav.fp-right ul li:last-child{display: none;}
#fp-nav ul li{margin: 0 20px 20px 20px;}
#fp-nav ul li a.active span, #fp-nav ul li:hover a.active span, #fp-nav ul li:hover a span{height: 12px; width: 12px; background: #5a90d6; margin: 0 0 0 -1px;}
#fp-nav ul li a span{height: 10px; width: 10px; background: #424242; left: 50%; top: 50%; margin: 0;}
#fp-nav ul li .fp-tooltip{top: 0; min-width: 130px; height: 25px; line-height: 25px; font-family: SCDream; font-weight: 300; font-size: 14px; color: #fff; background: #424242; text-align: center; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px;}

/* mouseover */
#cnt5 .idx_list{height: 600px; text-align: center;}
#cnt5 .idx_list li{display: inline-block; position: relative; width: 300px; height: 600px;}
#cnt5 .idx_list li + li{margin-left: 95px;}
#cnt5 .idx_list li .over{position: absolute; top: 0; left: 0; width: 100%; height: 100%; color: #fff; line-height: 2;}
#cnt5 .idx_list li .over h3{font-family: GGBatangB; font-size: 28px; padding-top: 530px; letter-spacing: 5px;}
#cnt5 .idx_list li .over p{font-weight: 300; font-size: 14px;}
#cnt5 .idx_list li .over a{display: block; font-weight: 500; width: 200px; height: 40px; line-height: 38px; font-size: 15px; border: 1px solid #fff; margin-left: 50px;}
#cnt5 .idx_list li .over p, #cnt5 .idx_list li .over a{-ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)'; opacity: 0;}
#cnt5 .idx_list li .list_gradient{position: absolute; bottom: 0; left: 0; width: 300px; height: 600px; background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(112,112,112,0) 50%, rgba(0,0,0,1) 100%); background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(112,112,112,0) 50%,rgba(0,0,0,1) 100%); background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(112,112,112,0) 50%,rgba(0,0,0,1) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#000000',GradientType=0 );}

#cnt5 .idx_list li:hover .over, #cnt5 .idx_list li.img_on .over{background: rgba(0,0,0,.85);}
#cnt5 .idx_list li .over a:hover, #cnt5 .idx_list li .over a:focus{background: #fff; color: #1e1e1e;}
#cnt5 .idx_list li:hover .over p, #cnt5 .idx_list li.img_on .over p, #cnt5 .idx_list li:hover .over a, #cnt5 .idx_list li .over a:focus, #cnt5 .idx_list li.img_on .over a{-ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)'; opacity: 1;}
#cnt5 .idx_list li:hover .over p, #cnt5 .idx_list li.img_on .over p{margin-top: 60px;}
#cnt5 .idx_list li:hover .over a, #cnt5 .idx_list li .over a:focus, #cnt5 .idx_list li.img_on .over a{margin-top: 130px;}
#cnt5 .idx_list li:hover .over h3, #cnt5 .idx_list li.img_on .over h3{padding-top: 150px;}
#cnt5 .idx_list li .over, #cnt5 .idx_list li .over h3, #cnt5 .idx_list li .over p, #cnt5 .idx_list li .over a{-webkit-transition: all 0.5s; -moz-transition: all 0.5s; -o-transition: all 0.5s; transition: all 0.5s;}